PORT=3000
MONGODB_URI=mongodb+srv://helly:your_password@cluster0.tlkoaty.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=UTY124gh_67ggREwtcdx
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=CHJ10-EFght233
REFRESH_TOKEN_EXPIRY=10d
